.App {
  text-align: center;
  font-size: 25px;
  margin-top: 20%;
}

.App-title {
  font-weight: 600;
  font-size: 25px;
}

.clock {
  margin: 40px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
  display: inline;
  margin: 10px;
  font-size: 35px;
}

.Deadline-input {
  font-size: 25px;
  margin: 5px;
}

button {
  font-size: 25px;
}